@font-face {
	font-family:"WeblySleek UI Semibold";
	src: url("../fonts/weblysleekuisb.eot?") format("eot"),
		 url("../fonts/weblysleekuisb.woff") format("woff"),
		 url("../fonts/weblysleekuisb.ttf") format("truetype"),
		 url("../fonts/weblysleekuisb.svg#WeblySleekUISemibold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:"WeblySleek UI Light";
	src: url("../fonts/weblysleekuil.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

*
{
	margin: 0;
	padding: 0;
	font-size: 0.95rem;
	font-family: 'WeblySleek UI Semibold', 'Open Sans', sans-serif;
	box-sizing: border-box;
}

body
{
	background-color: #1d1d1d;
	color: #fff;
	width: 100vw;
}

.i
{
	font-style: italic;
}

a
{
	color: #fff;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
}

header
{
	background-color: #1d1d1d;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 10vh;
	margin: 0 auto;
	border-bottom: 1px solid #f8b64c;
}

/* Code issu de JSFiddle et adapté : https://jsfiddle.net/6obpjnzs/5/ */
header #mobile-menu
{
	width: 15%;
	height: 100%;
}

header #mobile-menu-container
{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 25%;
}

header #mobile-menu #mobile-menu-container #mobile-menu-icon
{
	cursor: pointer;
	display: inline-block;
}

header #mobile-menu #mobile-menu-container #mobile-menu-icon #mobile-menu-image
{
	background: #fff;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

header #mobile-menu #mobile-menu-container #mobile-menu-icon #mobile-menu-image:before, header #mobile-menu #mobile-menu-container #mobile-menu-icon #mobile-menu-image:after
{
	background: #fff;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

header #mobile-menu #mobile-menu-container #mobile-menu-icon #mobile-menu-image:before
{
	top: 5px;
}

header #mobile-menu #mobile-menu-container #mobile-menu-icon #mobile-menu-image:after
{
	top: -5px;
}

header #mobile-menu #mobile-menu-button
{
	display: none;
	width: 100%;
	height: 100%;
}

header #mobile-menu #mobile-menu-button:checked ~ nav {
	max-height: 240px;
}

header #mobile-menu #mobile-menu-button:checked + #mobile-menu-container #mobile-menu-icon #mobile-menu-image
{
	background: transparent;
}

header #mobile-menu #mobile-menu-button:checked + #mobile-menu-container #mobile-menu-icon #mobile-menu-image:before
{
	transform: rotate(-45deg);
}

header #mobile-menu #mobile-menu-button:checked + #mobile-menu-container #mobile-menu-icon #mobile-menu-image:after
{
	transform: rotate(45deg);
}

header #mobile-menu #mobile-menu-button:checked + #mobile-menu-container #mobile-menu-icon #mobile-menu-image:before, header #mobile-menu #mobile-menu-button:checked + #mobile-menu-container #mobile-menu-icon #mobile-menu-image:after
{
	top: 0;
}

nav
{
	position: fixed;
	top: 10vh;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	transition: max-height .2s ease-out;
}

nav ul
{
	list-style: none;
	/*position: relative;*/
	/*float: left;*/
	display: block;
	/*left: 50%;
	max-width: 1200px;*/
	margin: 0;
	padding: 0;
	/*clear: both;*/
	/*max-height: 0;*/
	/* Ajouté à partir du media query JSFiddle : */
	width: 100%;
}

nav ul li
{
	/*position: relative;*/
	/*right: 50%;*/
	/* Ajouté à partir du media query JSFiddle : */
	border-bottom: 1px solid #000000;
	color: #000;
}

/* Ajouté à partir du media query JSFiddle : */
nav ul li:first-child
{
	border-top: 0 solid #000000;
}

nav ul li a
{
	display: block;
	padding: 1em;
	text-decoration: none;
	color: #000000;
	/* Ajouté à partir du media query JSFiddle : */
	background-color: #f8bf4c;
}

nav ul li a:hover
{
	background-color: #B5B5B5;
}

/* ---------------- */

header #logo
{
	display: flex;
	width: 85%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin-right: 13.5%;
}

header #logo img
{
	width: 250px;
	height: 25px;
}

main
{
	margin-top: 12vh;
	width: 100vw;
	min-height: 81vh;

}

main h1
{
	text-align: center;
	margin: 15px auto;
	font-size: 1.75rem;
}

main table
{
	margin: 0 auto;
	width: 96%;
	text-align: center;
	border-spacing: 0 1px;
}

main table th, main table td
{
	padding: 10px 0;
}

a.basic-thumb-button
{
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 8%;
	right: 2%;
	width: 70px;
	height: 70px;
	background-color: #9e34f7;
	border-radius: 1000px;
}

/* Page d'accueil */

#home #intro
{
	margin: auto 15px;
}

#home #intro *
{
	font-family: 'WeblySleek UI Light', 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.3rem;
}

#home #intro h1
{
	font-size: 1.6rem;
	margin-bottom: 20px;
}

#home #intro p
{
	margin-bottom: 10px;
}

#home #catchers
{
	margin: 20px 15px;
}

#home #catchers .catcher
{
	display: flex;
	width: 100%;
	margin: 15px auto;
}

#home .round-bg-image
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 72px;
	height: 72px;
	border-radius: 5000px;
}

#home #catchers .catcher .catcher-image
{
	border: 2px solid #9E34F7;
}

#home #catchers .catcher .catcher-text
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
	font-family: 'WeblySleek UI Light', 'Open Sans', sans-serif;
	color: #9E34F7;
}

#home #catchers .catcher .catcher-text h2
{
	font-size: 1.1rem;
}

#home #pros
{
	display: flex;
	justify-content: space-between;
	background-color: #F8B64C;
	width: 100%;
	height: 128px;
	padding: 0 20px;
}

#home #pros .pro
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100%;
	color: #1d1d1d;
}

#home #pros .pro div
{
	background-color: #1d1d1d;
}

#home #pros .pro p
{
	font-family: 'WeblySleek UI Semibold', 'Open Sans', sans-serif;
	font-size: 0.9rem;
	margin-top: 5px;
}

#home #buttons
{
	display: flex;
	justify-content: space-between;
	margin: 20px 20px;
}

#home #buttons .home-link-button
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 54px;
	background-color: #9e34f7;
	border-radius: 10px;
	text-decoration: none;
}

#home #buttons .home-link-button p
{
	font-size: 1rem;
}

#home #buttons .home-link-button.transparent
{
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #9e34f7;
	color: #9e34f7;
}

#body-home footer
{
	border: none;
}

/* Pages d'inscription et de connexion */

.account a
{
	display: block;
	margin-top: 20px;
	text-align: center;
}

.account a p
{
	font-size: 1rem;
}

/* Pages de liste */

.list table tr:first-child
{
	background-color: #9e34f7;
}

.list table tr:not(:first-child)
{
	background-color: #f8bf4c;
	color: #1d1d1d;
	cursor: pointer;
}

.list #add-button p
{
	font-size: 2.5rem;
	text-align: center;
	margin: 0 auto;
	position: relative;
	bottom: 2px;
}

/* Pages de détails */

.details table
{
	margin: 0 auto;
	width: 96%;
	text-align: center;
	border-spacing: 0 1px;
}

.details table th
{
	background-color: #9e34f7;
	width: 40%
}

.details table td
{
	background-color: #f8bf4c;
	color: #000;
	width: 60%;
}

.details table th, .details table td
{
	padding: 10px 0;
}

.details tr:last-child *
{
	font-size: 0.85rem;
}

.details #edit-button
{
	display: flex;
	justify-content: center;
}

/* Page formulaire ajout trajet */

.basic-form
{
	margin: 0 auto;
	width: 85%;
}

.basic-form label
{
	margin-bottom: 5px;
}

.basic-form input
{
	display: block;
	margin: 5px auto 15px;
	/*width: 60%;*/
	height: 50px;
	font-size: 1.25rem;
	padding-left: 10px;
}

.basic-form input:not(:last-child)
{
	-webkit-transition: all .35s ease-in-out;
}

.basic-form input:hover:not(:last-child)
{
	-webkit-transform: scale(1.02);
	-webkit-transition: all .35s ease-in-out;
}

.basic-form input.button
{
	background-color: #9e34f7;
	-webkit-transition: background-color 0.3s ease;
	margin-bottom: auto;
	/*width: 25%;*/
	height: 50px;
	border: 0;
	text-transform: uppercase;
	padding: 0;
	color: #fff;
}

.basic-form input.button:hover
{
	text-decoration: none;
	cursor: pointer;
	/*background-color: A définir;*/
}

.basic-form input::-webkit-input-placeholder
{
	font-size: 1.25rem;
	color: gray;
}

/* Media query mobile à venir V */

.button, .basic-form input
{
	width: 100% /*!important*/;
}

/* --- */

footer
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f8bf4c;
	width: 100%;
	height: 7vh;
	border-top: 3px solid #1d1d1d;
	text-align: center;
}

footer *
{
	color: #1d1d1d;
}

footer p
{
	margin: auto 10px;
}